* {
  margin: 0px;
  font-family: sans-serif;
  top: 0;
}

.docplanner_img img {
  width: 268px;
  height: 33px;
}

nav {
  position: fixed;
  /* margin: 0px 167px; */
  /* padding: 0px 20px; */
  background-color: hsla(0, 0%, 100%, 0.98);
  /* height: 70px; */
  /* max-width: 1015px; */
  display: flex;
  justify-content: space-around;
  width: 100%;
  z-index: 1;
}

.docplanner_right {
  display: flex;
}

nav ul {
  list-style: none;
}

nav ul a {
  color: #ababab;
  text-decoration: none;
  padding: 0px 20px;
  display: block;
}
main {
  margin-top: 10%;
}
.about {
  color: #00b39b;
}

.docplanner_right ul li a {
  display: block;
  padding: 10px 10px;
}

.docplanner_right ul li a:hover {
  color: #00b39b;
  background-color: #00b39a3b;
}
nav li a:hover {
  color: #00b39b;
}
.drop ul {
  display: none;
}

nav ul {
  position: relative;
}
.drop:hover ul {
  display: block;
  box-shadow: 0 5px 10px 0 #d3cfc9;
  position: absolute;
  top: 20px;
  right: 10px;
  padding-left: 0px;
  margin-top: 5px;
  text-align: left;
  background-color: white;
}

.section1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section1 img {
  width: 40px;
  margin: 50px;
}
.section1 h1 {
  color: #00b39b;
}

.paragraphe-section1 {
  display: flex;
  justify-content: space-around;
  margin: 50px;
  color: #747474;
}

.paragraphe-section1 p {
  width: 40vw;
  line-height: 1.5em;
  font-weight: 400;
  margin: 10px 5px;
}

.section2 {
  margin: 40px 200px;
  display: flex;
  justify-content: space-between;
}

.forpatient,
.fordoctor {
  padding: 20px 30px;
  width: 42%;
  border-radius: 9px;
  overflow: hidden;
  color: #ffffff;
  position: relative;
  height: 400px;
}
.forpatient {
  background-color: #00ccb1;
}
.fordoctor {
  background-color: #3d83df;
}
.computer {
  width: 90%;
  position: absolute;
  left: 40%;
  top: 180px;
}

.section2 select {
  border: none;
  padding: 15px;
  border-radius: 5px;
  outline: none;
}

.section3 {
  display: flex;
  margin: 30px 200px;
}

.section3 h1 {
  color: #00b39b;
  font-size: 25px;
  font-weight: 100;
}

.section3 .brands {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-evenly;
}

.section3 svg {
  fill: #ababab;
}

.section3 svg:hover {
  fill: #00b39b;
}

.section4 {
  display: flex;
  justify-content: space-around;
  background-color: #d8f6f6;
  position: relative;
  overflow: hidden;
  padding: 50px 170px;
}

.left-section4 h1 {
  color: #00b39b;
}

.left-section4 p {
  color: #747474;
  margin: 20px 5px;
}

.section4-logo {
  /* height: 80%; */
  position: absolute;
  top: 250px;
  left: 50px;
}

.right-section4 {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: space-around;
}

.right-worldcard {
  /* position: relative; */
  /* top: -15px; */
  /* right: 10px; */
  /* align-self: flex-start; */
}
.left-worldcard {
  margin: 15px;
}

.worldcard {
  height: 250px;
  width: 220px;
  border-radius: 5px;
  background-color: white;
  /* margin-right: 20px; */
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.worldcard h1 {
  color: #00b39b;
  text-align: center;
}

.section5 {
  margin: 100px 300px;
  text-align: center;
  color: #747474;
}

.section5 h1 {
  color: #00b39b;
  margin: 50px;
  letter-spacing: 4px;
}

.section6 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bottom-cards {
  background-color: white;
  max-height: 400px;
  max-width: 500px;
  border-radius: 5px;
  margin: 10px 5px;
}

.bottom-cards:hover {
  box-shadow: 10px 10px 20px 10px black;
}
.section6 {
  margin: 50px 100px;
}

.section6 button {
  border-radius: 5px;
  color: white;
  background-color: #3d83df;
  padding: 5px;
  /* margin-left: 150px; */
}

.see {
  color: #747474;
}
.see {
  display: flex;
  justify-content: space-between;
}

footer {
  margin-top: 10px;
  padding: 20px;
  border-top: 2px solid #eef2f2;
  text-align: center;
}

footer a {
  text-decoration: none;
}

footer p {
  color: #ababaf;
  padding: 10px 10px;
}
